#sig, #ant, #act {
    border: 15px solid yellow;
    padding: 10px;
    margin: 10px;
    position: absolute;
}
#sig, #ant{
    width: 100px;
    height: 100px;
}

#sig{
    background-color: blue;
    float: left;
    
}
#ant{
    background-color: green;
    float: right;
}
#act{
    width: 30%;
    height: 30%;
    background-color: firebrick;
    text-align: center;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom : 50%;
}
#container{
    border: 10px solid black;
    
}
#entradas{
    border-style: solid;
    background-color: blue;
    text-align: center;
    /*POSITION*/
    position: relative;
    bottom: 0;
    right: 0;
    /*BOX :*/
    width: 300px;
    border: 15px solid green;
    padding: 10px;
    margin: 10px;
}