#sig, #ant, #act {
    border: 15px solid yellow;
    padding: 10px;
    margin: 10px;
}

#sig{
    background-color: blue;
    float: right;
}
#ant{
    background-color: green;
    float: center;
}
#act{
    background-color: firebrick;
}
#container{
    border: 10px solid black;
    height: 100%;
    width: 100%;
    background-color: black;
}
#entradas{
    border-style: solid;
    background-color: blue;
    text-align: center;
    /*POSITION*/
    position: relative;
    bottom: 0;
    right: 0;
    /*BOX :*/
    width: 300px;
    border: 15px solid green;
    padding: 10px;
    margin: 10px;
}