#sig, #ant, #act {
    border: 15px solid yellow;
    padding: 10px;
    margin: 10px;
}
#sig{
    background-color: blue;
    float: right;
    width: 25%;
}
#ant{
    background-color: green;
    float: left;
    width: 25%;
}
#act{
    background-color: firebrick;
    width: 50%;
}
#container{
    border: 10px solid grey;
    background-color: black;
    height: 500px;

    padding: 10px;
    margin: 10px;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active, .dot:hover {
    background-color: #717171;
  }
#entradas{
    border-style: solid;
    background-color: blue;
    text-align: center;
    /*POSITION*/
    position: relative;
    bottom: 0;
    right: 0;
    /*BOX :*/
    width: 300px;
    border: 15px solid green;
    padding: 10px;
    margin: 10px;
}